@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback);
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HK Grotesk";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/HKGrotesk-Bold.woff2)format("woff2"), url(fonts/HKGrotesk-Bold.woff)format("woff")
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/HKGrotesk-bold.woff2)format("woff2"), url(fonts/HKGrotesk-bold.woff)format("woff")
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/HKGrotesk-Medium.woff2)format("woff2"), url(fonts/HKGrotesk-Medium.woff)format("woff")
}

* {
    font-family: 'Inter', sans-serif;
    /* border: 0; */
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    letter-spacing: -0.01em;
    transition: all 0.1s ease-in-out;
}

:root {
    overflow-x: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

:root:--webkit-scrollbar {
    display: hidden;
}
